<html>
    <body>
        <style>
          body {
              background-color: linen;
          }
          .container {
            width: 430px;
            height: 324px;

            position: absolute;
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
            
            margin: auto;
          }

          .title {
            color: maroon;
            font-size: 200px;
            font-family: sans-serif;
          }
        </style>
        <div class="container">
            <h1 class="title">{{{ body }}}</h1> 
        </div>
    </body>
</html>